.header {
    color: #a227c4;
}

.wheader {
    color: #29a8d7;
}

.container {
    background-color: #477332;
}

.btn {
    color: #ffffff;
    background-color: #784838;
}

.inp {
    color: #ae1818;
    background-color: #48738823;
}