.yellow-small-bord {
    width: 100px;
    height: 100px;
    background-color: #c1c5eb;
    border: solid;
    border-color: #000000;
    border-width: 3px;
}

.blue-big-bord {
    width: 100px;
    height: 100px;
    background-color: #29a8d7;
    border: solid;
    border-color: #ff0000;
    border-width: 3px;
    border-radius: 100px;
}