body {
    background-color: #ebcf5f;
}

.container {
    padding-bottom: 30px;
}

.btn {
    border: none;
    padding: 5px 40px;
}

.primary {
    color: white;
    background-color: #8532f1;
}

.secondary {
    color: black;
    background-color: greenyellow;
}

.white {
    color: black;
    background-color: white;
}

.dark {
    color: white;
    background-color: black;
}
