.salary {
    color: #ffffff;
    width: 200px;
    padding: 10px;
}

.green {
    background-color: #7ac100;
}

.yellow {
    background-color: #f1c131;
}

.orange {
    background-color: #e69138;
}

.brown {
    background-color: #b45f07;
}

.dark-brown {
    background-color: #783f04;
}
